* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
}
h1 {
  text-align: center;
  font-size: 2em;
  margin: 2em 1rem;
}
h2 {
  font-size: 3em;
  color: #0e0e0f;
  border-bottom: 1px solid;
}
p {
  line-height: 1.6em;
  color: #0f0e0e;
}
/* //section */
main {
  margin: 10vh 1em 10vh;
}

.header {
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
}
.nav {
  display: flex;

  justify-content: space-between;
  cursor: pointer;
  align-items: center;
  height: 7rem;
  width: 100%;
  padding-left: 6rem;
  z-index: 100;
}
.nav_links ul {
  padding-left: 0;
  margin: 0;
  text-align: center;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}
#navLink {
  display: flex;
  float: left;
  font-size: 2rem;
  border-bottom: 1 rem solid white;
  display: block;
  padding: 1em;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.nav .nav_links:hover {
  background: transparent;
  color: #f8f8ff;
  transition: ease 0.6s all;
  text-decoration: none;
}
/* SECTIONS */
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.sections {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
.active,
.collapsible:hover {
  background-color: #c9c5c5;
}
.active-nav {
  background: #7e1f1f;
  color: #f8f8ff;
  transition: ease 0.6s all;
}

.nav.sticky {
  height: 7rem;
  position: fixed;
  background-color: transparent;
}

.section_title {
  font-size: 2rem;
  background-color: #749a8c;
}
.section-hidden {
  opacity: 0;
}
.sections {
  display: flex;
  flex-direction: column;
  padding: 1em;
  text-align: left;
  height: 80vh;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;

  margin-bottom: 1rem;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  background: #1b1c1d;
  padding: 3em;
  color: #f8f8ff;
}

.footer_item {
  color: #f8f8ff;
}
/* //scroll to top */
#scrollToTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 16px;
  z-index: 2;
  font-size: 18px;

  background-color: #7e1f1f;
  color: #1b1c1d;
  cursor: pointer;
  padding: 15px;
}
/* for different scrren sizes */
@media (max-width: 782px) {
  .nav {
    display: flex;
    flex-direction: row;
    float: left;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
    height: 2rem;
    /* width: 100%; */
    padding-left: 6rem;
    z-index: 100;
  }
  .nav_links ul {
    padding-left: 0;
    margin: 0;
    text-align: center;
  }
  ul {
    display: flex;
    flex-direction: row;
    float: left;
    justify-content: space-between;
    width: 80%;
    font-size: 0.6rem;
  }
  #navLink {
    display: flex;
    float: left;
    font-size: 0.8rem;
    border-bottom: 1 rem solid white;
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
  }
  .active-nav {
    background: #7e1f1f;
    color: #f8f8ff;
    transition: ease 0.6s all;
  }
}
